@model ScavengeRUs.Models.Entities.Location

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QRCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QRCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
